

<div style="margin: 10px;height:calc(100% - 10px);">

  <div style="height: 215px;">
    <div style="margin-left: 10px;">
      <div style="display:inline-block;padding-right: 20px;vertical-align: top;">
        <h4>Training Samples</h4>
      </div>
    </div>

    <div style="padding: 44px 10px; display:inline-block;vertical-align: top;">
      <span> Total: </span>
    </div>
    <div style="display:inline-block;padding-right: 20px;vertical-align: top;margin-top: 55px;">
      <span style="font-size: 54px" data-bind="html: total"></span>
    </div>

    <div style="padding: 44px 10px; display:inline-block;vertical-align: top;">
      <span> Trained: </span>
    </div>

    <div style="display:inline-block;padding-right: 20px;vertical-align: top;margin-top: 55px;">
      <span style="font-size: 54px" data-bind="html: trained"></span>
    </div>

    <!-- <div style="display:inline-block;margin-right: 20px;"> -->

    <!--   <div style="margin-bottom: 12px;"> -->
    <!--     <button class="btn btn-default btn-size" data-bind="click: train">Train</button> -->
    <!--   </div> -->

    <!--   <div style="margin-bottom: 12px;"> -->
    <!--     <button class="btn btn-default btn-size" data-bind="click: test_handler">Test</button> -->
    <!--   </div> -->
      
    <!--   <div style="margin-bottom: 12px;"> -->
    <!--     <button class="btn btn-default btn-size" data-bind="click: save">Save Model</button> -->
    <!--   </div> -->

    <!--   <div style="margin-bottom: 12px;"> -->
    <!--     <div style="display: inline-block;padding: 5px;" -->
    <!--          class="btn-size" -->
    <!--          data-bind="html: result_msg, css: result_msg_class"> testing  </div> -->
    <!--   </div> -->

    <!-- </div> -->
    <div style="display:inline-block;margin-right: 20px;vertical-align: top;">

      <div style="margin-bottom: 12px;">
        <button class="btn btn-default btn-size" data-bind="click: training_save">Export Training</button>
      </div>

      <div style="margin-bottom: 12px;">
        <button class="btn btn-default btn-size" data-bind="click: training_upload">Import Training</button>
      </div>

      <div style="margin-bottom: 12px;">
        <button class="btn btn-default btn-size" data-bind="click: training_save_server">Save Training</button>
      </div>

    </div>
  </div>

  <hr style="margin-top: 9px; margin-bottom: 10px;" />

  <div class="table-container" style="height:calc(100% - 225px);overflow-y: scroll;"></div>

</div>

<input id="fileupload" name="file" type="file"
       accept="text/csv,text/tab-separated-values,application/json,text/plain"
       style="opacity: 0;" />
