 <div class="markup-container unselectable">

</div>

<hr />


<div style="margin: 10px;">
  <div style="margin: 10px;display: inline-block">
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span> 
    </button>
  </div>
  <div style="margin: 10px;display: inline-block">
    <button class="btn btn-default" data-bind="click: navigate_home">Home</button>
  </div>
  <div style="margin: 10px;display: inline-block">
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-right"></span> 
    </button>
  </div>
</div>

